In [1]:
import numpy as np
import re

In [2]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
d=pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv("tmdb_5000_credits.csv")
ratings = pd.read_csv("ratings.csv")
new=pd.read_csv("new.csv")

In [4]:
credits = credits.rename(columns={"movie_id": "id"})
d = pd.merge( left = d, right = credits, on='id')

In [5]:
d.shape

(4803, 23)

In [6]:
d.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_x                  object
vote_average            float64
vote_count                int64
title_y                  object
cast                     object
crew                     object
dtype: object

In [7]:
d.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [8]:
d.isnull().sum(axis=0)

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_x                    0
vote_average               0
vote_count                 0
title_y                    0
cast                       0
crew                       0
dtype: int64

In [9]:
d.drop("homepage",axis=1,inplace=True)

In [10]:
d.drop("tagline",axis=1,inplace=True)
d.drop("status",axis=1,inplace=True)
d.drop("release_date",axis=1,inplace=True)
d.drop("spoken_languages",axis=1,inplace=True)

In [11]:
d.head(3)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,revenue,runtime,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2787965087,162.0,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",880674609,148.0,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [12]:
d.isnull()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,revenue,runtime,title_x,vote_average,vote_count,title_y,cast,crew
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4799,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4800,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4801,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4802,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
d.dropna(inplace=True)
d.isnull().sum(axis=0)

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
revenue                 0
runtime                 0
title_x                 0
vote_average            0
vote_count              0
title_y                 0
cast                    0
crew                    0
dtype: int64

In [14]:
import ast

In [15]:
def func(obj):
    List = []
    for i in ast.literal_eval(obj):
        List.append(i['name'])
    return List

d['genres'] = d['genres'].apply(func)
d['keywords'] = d['keywords'].apply(func)
d['production_companies']=d['production_companies'].apply(func)

In [16]:
def func1(obj):
    List = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            List.append(i['name'])
            counter+=1
        else:
            break
    return List

d['cast'] = d['cast'].apply(func1)
def func2(obj):
    List = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            List.append(i['name'])
            break
    return List
d['crew'] = d['crew'].apply(func2)

In [17]:
d = d[['id','original_title','overview','genres','cast','keywords','crew','production_companies']]

In [18]:
d.head(3)

,id,original_title,overview,genres,cast,keywords,crew,production_companies
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[culture clash, future, space war, space colon...",[James Cameron],"[Ingenious Film Partners, Twentieth Century Fo..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[ocean, drug abuse, exotic island, east india ...",[Gore Verbinski],"[Walt Disney Pictures, Jerry Bruckheimer Films..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[spy, based on novel, secret agent, sequel, mi...",[Sam Mendes],"[Columbia Pictures, Danjaq, B24]"

In [19]:
d['overview'] = d['overview'].str.split()

In [20]:
d.head(3)

,id,original_title,overview,genres,cast,keywords,crew,production_companies
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[culture clash, future, space war, space colon...",[James Cameron],"[Ingenious Film Partners, Twentieth Century Fo..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[ocean, drug abuse, exotic island, east india ...",[Gore Verbinski],"[Walt Disney Pictures, Jerry Bruckheimer Films..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[spy, based on novel, secret agent, sequel, mi...",[Sam Mendes],"[Columbia Pictures, Danjaq, B24]"

In [21]:

original_keywords = d['keywords']
modified_keywords = []

for keyword_list in original_keywords:
    modified_keyword_list = []
    
    for keyword in keyword_list:
        modified_keyword = keyword.replace(" ", "")
        modified_keyword_list.append(modified_keyword)
    
    modified_keywords.append(modified_keyword_list)

d['keywords'] = modified_keywords

In [22]:
original_cast = d['cast']
modified_cast = []

for cast_list in original_cast:
    modified_cast_list = []
    
    for actor in cast_list:
        modified_actor = actor.replace(" ", "")
        modified_cast_list.append(modified_actor)
    
    modified_cast.append(modified_cast_list)
d['cast'] = modified_cast

In [23]:

original_crew = d['crew']
modified_crew = []

for crew_list in original_crew:
    modified_crew_list = []
    
    for crew_member in crew_list:
        modified_member = crew_member.replace(" ", "")
        modified_crew_list.append(modified_member)
    
    modified_crew.append(modified_crew_list)

d['crew'] = modified_crew

In [24]:
original_genres = d['genres']
modified_genres = []
for genre_list in original_genres:
    modified_genre_list = []
    
    for genre in genre_list:
        modified_genre = genre.replace(" ", "")
        modified_genre_list.append(modified_genre)
    
    modified_genres.append(modified_genre_list)

d['genres'] = modified_genres

In [25]:
original_production = d['production_companies']
modified_productions = []
original_production.shape
for production_list in original_production:
    modified_production_list = []
    
    for production in production_list:
        modified_production = production.replace(" ", "")
        modified_production_list.append(modified_production)
    
    modified_productions.append(modified_production_list)

d['production_companies'] = modified_productions

In [26]:
d.head(2)

,id,original_title,overview,genres,cast,keywords,crew,production_companies
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron],"[IngeniousFilmPartners, TwentiethCenturyFoxFil..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski],"[WaltDisneyPictures, JerryBruckheimerFilms, Se..."

In [27]:
d['metadata'] = d['overview'] + d['genres'] + d['keywords'] + d['cast'] + d['crew']+d['production_companies']

In [28]:
print(d['metadata'].shape)
d['metadata'][0][0]

(4800,)

'In'

In [29]:
original_metadata = d['metadata']
modified_metadatas = []
original_metadata.shape
for metadata_list in original_metadata:
    modified_metadata_list = []
    
    for metadata in metadata_list:
        metadata=re.sub('[^a-zA-Z0-9]'," ",metadata)
        modified_metadata = metadata.lower()

        modified_metadata_list.append(modified_metadata)
    
    modified_metadatas.append(modified_metadata_list)

d['metadata'] = modified_metadatas

In [30]:
d.head(3)

,id,original_title,overview,genres,cast,keywords,crew,production_companies,metadata
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[cultureclash, future, spacewar, spacecolony, ...",[JamesCameron],"[IngeniousFilmPartners, TwentiethCenturyFoxFil...","[in, the, 22nd, century , a, paraplegic, marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[ocean, drugabuse, exoticisland, eastindiatrad...",[GoreVerbinski],"[WaltDisneyPictures, JerryBruckheimerFilms, Se...","[captain, barbossa , long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux]","[spy, basedonnovel, secretagent, sequel, mi6, ...",[SamMendes],"[ColumbiaPictures, Danjaq, B24]","[a, cryptic, message, from, bond s, past, send..."

In [31]:
movies = d.drop(columns=['overview','genres','keywords','cast','crew','production_companies'])

In [32]:
movies.head(3)

,id,original_title,metadata
0,19995,Avatar,"[in, the, 22nd, century , a, paraplegic, marin..."
1,285,Pirates of the Caribbean: At World's End,"[captain, barbossa , long, believed, to, be, d..."
2,206647,Spectre,"[a, cryptic, message, from, bond s, past, send..."

In [33]:
movies['metadata'][0][0]

'in'

In [34]:
def join_metadata(x):
    return " ".join(x)

movies['metadata'] = movies['metadata'].apply(join_metadata)

In [35]:
movies.head(2)

,id,original_title,metadata
0,19995,Avatar,in the 22nd century a paraplegic marine is di...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believed to be dead ha...

In [36]:
movies['title']=movies['original_title']
movies.drop("original_title",axis=1,inplace=True)

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()

In [38]:
vector = tfidf_vectorizer.fit_transform(movies['metadata'])
vector.shape

(4800, 40876)

In [39]:
print(vector[0])

  (0, 21569)	0.1682287568251454
  (0, 11019)	0.11383154851286156
  (0, 38142)	0.08908359611816676
  (0, 17766)	0.13299647580733162
  (0, 18539)	0.16193109505012293
  (0, 33614)	0.14299539547341453
  (0, 40839)	0.15130282062598216
  (0, 32159)	0.1648542370447911
  (0, 308)	0.10664025053632196
  (0, 24304)	0.1682287568251454
  (0, 28805)	0.17710481257194946
  (0, 2035)	0.183402474346972
  (0, 22117)	0.17710481257194946
  (0, 3382)	0.09761873879243316
  (0, 34236)	0.11476322303328158
  (0, 6183)	0.1682287568251454
  (0, 1291)	0.16193109505012293
  (0, 37844)	0.14968051952296454
  (0, 34432)	0.11476322303328158
  (0, 31536)	0.05787002866000202
  (0, 14294)	0.13978609192649843
  (0, 34456)	0.13881299630191224
  (0, 34181)	0.12012921028788404
  (0, 34437)	0.1648542370447911
  (0, 34458)	0.183402474346972
  :	:
  (0, 6984)	0.15305503930331882
  (0, 1276)	0.21072936625748323
  (0, 1639)	0.04738740378859403
  (0, 29264)	0.14968051952296454
  (0, 1693)	0.028450166001083566
  (0, 26762)	0.14299539547341453
  (0, 13705)	0.12138046781287666
  (0, 3855)	0.09039846523652008
  (0, 37471)	0.13450680200113796
  (0, 3523)	0.0862342028075802
  (0, 5350)	0.05535463055045787
  (0, 24469)	0.09776419478951785
  (0, 38502)	0.13612910310415557
  (0, 26611)	0.047082651112493656
  (0, 27202)	0.1648542370447911
  (0, 24727)	0.13881299630191224
  (0, 37223)	0.027849376068247115
  (0, 10299)	0.15704624907596232
  (0, 18265)	0.03936564430588127
  (0, 22907)	0.27957218385299687
  (0, 27290)	0.1682287568251454
  (0, 6162)	0.1120793298355249
  (0, 253)	0.17221996659778888
  (0, 36722)	0.05011966178815656
  (0, 17541)	0.033123768850224763

In [40]:
array = vector.toarray()

In [41]:
array.shape

(4800, 40876)

In [42]:
similarity = cosine_similarity(array)

In [43]:
similarity.shape

(4800, 4800)

In [44]:
similarity[0].shape

(4800,)

In [45]:
movies[movies['title'] == 'The Lego Movie'].index[0]

744

In [46]:
def recommend(m):
    index=movies[movies['title'] == m].index[0]
    def get_similarity_score(item):
        return item[1]
    similarity_scores = list(enumerate(similarity[index]))
    distance = sorted(similarity_scores, reverse=True, key=get_similarity_score)
    for i in distance[1:15]:
        print(movies.iloc[i[0]].title)

In [47]:
recommend('Avatar')

Aliens
Battle: Los Angeles
Aliens vs Predator: Requiem
Titan A.E.
Falcon Rising
Apollo 18
Predators
Star Trek Into Darkness
The Book of Life
Edge of Tomorrow
Alien³
Independence Day
Lifeforce
Prometheus

In [48]:
recommend('The Dark Knight Rises')

The Dark Knight
Batman Returns
Batman Begins
Batman Forever
Batman
Batman: The Dark Knight Returns, Part 2
Batman & Robin
Batman v Superman: Dawn of Justice
Slow Burn
Man of Steel
The Prestige
Defendor
Teenage Mutant Ninja Turtles
JFK

In [49]:
movies[movies['title'] == 'Avengers Assemble']

Empty DataFrame
Columns: [id, metadata, title]
Index: []

d['overview'] + d['genres'] + d['keywords'] + d['cast'] + d['crew']+d['production_companies']

In [50]:
d[d['original_title'] == 'Iron Man']

,id,original_title,overview,genres,cast,keywords,crew,production_companies,metadata
68,1726,Iron Man,"[After, being, held, captive, in, an, Afghan, ...","[Action, ScienceFiction, Adventure]","[RobertDowneyJr., TerrenceHoward, JeffBridges]","[middleeast, armsdealer, malibu, marvelcomic, ...",[JonFavreau],[MarvelStudios],"[after, being, held, captive, in, an, afghan, ..."

In [51]:
new.dtypes

genres                  object
keywords                object
title                   object
overview                object
production_companies    object
cast                    object
crew                    object
dtype: object

In [52]:
new

,genres,keywords,title,overview,production_companies,cast,crew
0,"Action, Sci-Fi","superhero, marvelcinematicuniverse, avengers, ...",Avengers Assemble,Earth mightiest heroes must come together and ...,Marvel Studios,"RobertDowneyJr, ChrisEvans, ScarlettJohansson",JossWhedon

In [53]:
new['metadata']=new['overview'] + new['genres'] + new['keywords'] + new['cast'] + new['crew']+new['production_companies']

In [54]:
vec=tfidf_vectorizer.transform(new['metadata'])

In [55]:
vec.shape

(1, 40876)

In [56]:
vec_array=vec.toarray()

In [57]:
vec_array.shape

(1, 40876)

In [58]:
cos= cosine_similarity(vec_array, array)
print(cos.shape)

(1, 4800)

In [59]:
def get_similarity_score(item):
   return item[1]
similarity_scores = list(enumerate(cos[0]))
distance = sorted(similarity_scores, reverse=True, key=get_similarity_score)
for i in distance[0:15]:
   print(movies.iloc[i[0]].title)

Avengers: Age of Ultron
Captain America: Civil War
The Avengers
The Last Airbender
Captain America: The Winter Soldier
U.F.O.
Galaxy Quest
Silverado
Sunshine
Running Forever
Bill & Ted's Excellent Adventure
Captain America: The First Avenger
Fight Valley
Star Trek IV: The Voyage Home
Alvin and the Chipmunks: The Road Chip

In [60]:
recommend('Iron Man 3')

Iron Man
Iron Man 2
Avengers: Age of Ultron
The Avengers
Captain America: Civil War
Captain America: The First Avenger
The Incredible Hulk
Captain America: The Winter Soldier
X-Men
Ant-Man
Thor: The Dark World
Thor
Guardians of the Galaxy
The Siege

In [61]:
import pickle

In [62]:
pickle.dump(movies, open('movies_list.pkl', 'wb'))

In [63]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))